[Unit]
Description=Gunicorn for Flask app
After=network.target

[Service]
User=ec2-user
Group=webapp
WorkingDirectory={{ project_dir }}
Environment="PATH={{ project_dir }}/venv/bin"
ExecStart={{ project_dir }}/venv/bin/gunicorn \
  --bind 127.0.0.1:8000 \
  src.app:app
EnvironmentFile={{ project_dir }}/.env

[Install]
WantedBy=multi-user.target